@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Bold.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Roboto";
}

.container {
    max-width: 80vw;
    margin: auto;
    padding: 0px 10px;
}

/* Navbar */

.navbar {
    background: #eeeeee;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.main-inner img {
    opacity: 0.7;
}

@media only screen and (min-width: 1180px) {
    .main-inner img {
        opacity: 1;
    }
}

.navbar-inner nav a {
    margin-left: 20px;
    cursor: pointer;
}

.navbar-inner a:hover {
    color: #bababa;
}

.navitem {
    display: none;
}

.navicon {
    display: block;
}

.navicon {
    width: 14px;
    height: 14px;
}

@media only screen and (min-width: 600px) {
    .navitem {
        display: block;
    }
    .navicon {
        display: none;
    }
}

/* Main */

.main {
    background: #eee;
}

#content {
    min-height: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    flex-direction: column;
}

@media only screen and (min-width: 600px) {
    #content {
        flex-direction: row;
    }
}

#content div h1,
h2,
h3,
p,
button {
    position: relative;
    z-index: 5;
    margin-top: 20px;
}

#content h1 {
    font-weight: bolder;
    font-size: 48px;
}

#content h2 {
    font-weight: 600;
    color: #262626;
    font-size: 28px;
}

#content p {
    max-width: 400px;
    line-height: 1.2rem;
    font-size: 14px;
}

#content .profile-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

aside {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    background-color: #aed3de;
    margin: auto;
}

.identity {
    display: flex;
}

.identity div:last-child {
    font-weight: bolder;
}

.identity div {
    margin: 0 10px;
}

.identity div {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.identity div span {
    margin-top: 10px;
}

/* Button */

.button {
    border: none;
    background: #010007;
    color: white;
    padding: 6px 18px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover {
    background: #5f5f5f;
}

/* Content */

.content {
    margin: 10px 0px;
}

.content-head {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.content-head span {
    cursor: pointer;
}

.content-head span:hover {
    color: #5f5f5f;
}

.content-head span.active {
    font-weight: bolder;
    border-bottom: 2px black solid;
}

.content-head span:not(:first-child) {
    margin-left: 20px;
}

/* Boxes */

.article-wrapper {
    max-width: 1200px;
    width: 100%;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 300px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.article {
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article:nth-child(odd) {
    background-color: #aed3de;
}

.article:nth-child(even) {
    background-color: #e8e5e4;
}

/* Footer */

footer {
    margin-top: 40px;
    background-color: #e8e5e4;
    min-height: 200px;
}

.upper-footer {
    background: #eee;
    padding: 40px;
}

.upper-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.upper-footer .container .subscription-wrapper {
    padding-top: 20px;
}

@media only screen and (min-width: 600px) {
    .upper-footer .container {
        flex-direction: row;
    }

    .upper-footer .container .subscription-wrapper {
        padding-top: 0;
    }
}
.upper-footer h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.upper-footer input {
    border: none;
    width: 380px;
    min-height: 30px;
    padding: 10px;
    border: 1px #e8e5e4 solid;
    border-radius: 4px;
}
.upper-footer input:focus {
    outline: none;
}

.upper-footer svg {
    width: 24px;
    height: 24px;
}

.subscription-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.subscription-wrapper label {
    position: absolute;
    right: 20px;
    color: #aed3de;
}

/* down-footer */

.down-footer {
    display: grid;
    max-width: 80vw;
    margin: auto;
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    font-size: 14px;
}

.down-footer div {
    display: flex;
    justify-content: flex-end;
    text-align: end;
}

.down-footer div:first-child {
    /* align-items: center; */
    text-align: start;
    justify-content: flex-start;
}

.down-footer li:not(:first-child) {
    margin-top: 10px;
}

.down-footer li {
    cursor: pointer;
}

.down-footer li:hover {
    color: gray;
}
