@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Regular.ttf");
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Bold.ttf");
    font-weight: bolder;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Light.ttf");
    font-weight: lighter;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Medium.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: "Roboto";
    src: url("../font/Roboto-BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: "Roboto";
}

.container {
    max-width: 80vw;
    margin: auto;
    padding: 0px 10px;
}

/* Navbar */

.navbar {
    background: #eeeeee;
}

.navbar-inner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.main-inner img {
    opacity: 0.7;
}

@media only screen and (min-width: 1180px) {
    .main-inner img {
        opacity: 1;
    }
}

.navbar-inner div span {
    margin-left: 20px;
    cursor: pointer;
}

.navbar-inner span:hover {
    color: #bababa;
}

.navitem {
    display: none;
}

.navicon {
    display: block;
}

.navicon {
    width: 14px;
    height: 14px;
}

@media only screen and (min-width: 600px) {
    .navitem {
        display: block;
    }
    .navicon {
        display: none;
    }
}

/* Main */

.main {
    background: #eee;
}

.main-inner {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.main-inner div * {
    position: relative;
    z-index: 5;
    margin-top: 20px;
}

.main-inner h1 {
    font-weight: bolder;
    font-size: 48px;
}

.main-inner h2 {
    font-weight: 600;
    color: #262626;
    font-size: 28px;
}

.main-inner p {
    max-width: 600px;
    line-height: 1.2rem;
    font-size: 14px;
}

.main-inner .profile-img {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
}

/* Button */

.button {
    border: none;
    background: #010007;
    color: white;
    padding: 6px 18px;
    border-radius: 2px;
    cursor: pointer;
}

.button:hover {
    background: #5f5f5f;
}

/* Content */

.content {
    margin: 10px 0px;
}

.content-head {
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}

.content-head span {
    cursor: pointer;
}

.content-head span:hover {
    color: #5f5f5f;
}

.content-head span.active {
    font-weight: bolder;
}

.content-head span:not(:first-child) {
    margin-left: 20px;
}

/* Boxes */

.article-wrapper {
    max-width: 1200px;
    width: 100%;
    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: 300px;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1em;
}

.article {
    border-radius: 4px;
    overflow: hidden;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article:nth-child(odd) {
    background-color: #aed3de;
}

.article:nth-child(even) {
    background-color: #e8e5e4;
}

/* Footer */

footer {
    margin-top: 40px;
    background-color: #e8e5e4;
    min-height: 200px;
}

.upper-footer {
    background: #eee;
    padding: 40px;
}

.upper-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upper-footer h1 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bolder;
}

.upper-footer input {
    border: none;
    width: 380px;
    min-height: 30px;
    padding: 10px;
    border: 1px #e8e5e4 solid;
    border-radius: 4px;
}
.upper-footer input:focus {
    outline: none;
}

.upper-footer svg {
    width: 24px;
    height: 24px;
}

.subscription-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.subscription-wrapper label {
    position: absolute;
    right: 20px;
    color: #253340;
}
